:root {
  font-size: 14px; }

html, body {
  height: 100vh; }

body * {
  font-family: 'Montserrat', sans-serif; }
body section:not(:nth-of-type(1)) {
  padding-top: 5%;
  padding-bottom: 5%; }

.hide-overflow {
  overflow: hidden; }

.hide-this {
  position: fixed !important;
  top: -90px !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.show-this {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: fixed !important;
  top: 0 !important; }

.banner__overlay {
  position: relative; }
  .banner__overlay:before {
    position: absolute;
    top: 0;
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1; }

.overlay--texts {
  width: 80%;
  position: absolute;
  bottom: -10%;
  left: 10%;
  z-index: 2;
  opacity: 0;
  color: white;
  display: inline-block; }

.slick-active .overlay--texts {
  position: absolute;
  width: 80%;
  opacity: 1;
  bottom: 10%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translateX(-50%);
  /* IE 9 */
  transform: translateX(-50%);
  /* IE 10, Fx 16+, Op 12.1+ */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.navbar-nav {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px; }
  .navbar-nav * {
    transition: all 0.28s ease; }
  .navbar-nav .nav-item {
    margin: .5rem 1rem;
    padding: 0; }
    .navbar-nav .nav-item .nav-link {
      position: relative; }
      .navbar-nav .nav-item .nav-link:before, .navbar-nav .nav-item .nav-link:after {
        height: 14px;
        width: 14px;
        position: absolute;
        content: '';
        transition: all 0.28s ease;
        opacity: 0; }
      .navbar-nav .nav-item .nav-link:before {
        right: 0;
        top: 0;
        border-right: 3px solid #00FF00;
        border-top: 3px solid #00FF00;
        transform: translate(-100%, 50%); }
      .navbar-nav .nav-item .nav-link:after {
        left: 0;
        bottom: 0;
        border-left: 3px solid #00FF00;
        border-bottom: 2px solid #00FF00;
        transform: translate(100%, -50%); }
      .navbar-nav .nav-item .nav-link:hover:before, .navbar-nav .nav-item .nav-link:hover:after {
        transform: translate(0%, 0%);
        opacity: 1; }

.glitch {
  color: white;
  position: relative;
  width: 400px; }

@keyframes noise-anim {
  0% {
    clip: rect(8px, 9999px, 16px, 0); }
  5% {
    clip: rect(82px, 9999px, 7px, 0); }
  10% {
    clip: rect(94px, 9999px, 5px, 0); }
  15% {
    clip: rect(6px, 9999px, 22px, 0); }
  20% {
    clip: rect(35px, 9999px, 37px, 0); }
  25% {
    clip: rect(67px, 9999px, 54px, 0); }
  30% {
    clip: rect(81px, 9999px, 40px, 0); }
  35% {
    clip: rect(63px, 9999px, 11px, 0); }
  40% {
    clip: rect(74px, 9999px, 78px, 0); }
  45% {
    clip: rect(86px, 9999px, 62px, 0); }
  50% {
    clip: rect(57px, 9999px, 98px, 0); }
  55% {
    clip: rect(74px, 9999px, 39px, 0); }
  60% {
    clip: rect(58px, 9999px, 48px, 0); }
  65% {
    clip: rect(96px, 9999px, 58px, 0); }
  70% {
    clip: rect(37px, 9999px, 17px, 0); }
  75% {
    clip: rect(79px, 9999px, 70px, 0); }
  80% {
    clip: rect(53px, 9999px, 24px, 0); }
  85% {
    clip: rect(96px, 9999px, 57px, 0); }
  90% {
    clip: rect(26px, 9999px, 12px, 0); }
  95% {
    clip: rect(41px, 9999px, 60px, 0); }
  100% {
    clip: rect(98px, 9999px, 30px, 0); } }
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(47px, 9999px, 54px, 0); }
  5% {
    clip: rect(57px, 9999px, 13px, 0); }
  10% {
    clip: rect(26px, 9999px, 63px, 0); }
  15% {
    clip: rect(83px, 9999px, 31px, 0); }
  20% {
    clip: rect(20px, 9999px, 18px, 0); }
  25% {
    clip: rect(20px, 9999px, 81px, 0); }
  30% {
    clip: rect(75px, 9999px, 31px, 0); }
  35% {
    clip: rect(63px, 9999px, 10px, 0); }
  40% {
    clip: rect(18px, 9999px, 32px, 0); }
  45% {
    clip: rect(45px, 9999px, 5px, 0); }
  50% {
    clip: rect(88px, 9999px, 60px, 0); }
  55% {
    clip: rect(26px, 9999px, 61px, 0); }
  60% {
    clip: rect(54px, 9999px, 67px, 0); }
  65% {
    clip: rect(59px, 9999px, 93px, 0); }
  70% {
    clip: rect(53px, 9999px, 38px, 0); }
  75% {
    clip: rect(89px, 9999px, 91px, 0); }
  80% {
    clip: rect(98px, 9999px, 72px, 0); }
  85% {
    clip: rect(5px, 9999px, 49px, 0); }
  90% {
    clip: rect(38px, 9999px, 95px, 0); }
  95% {
    clip: rect(13px, 9999px, 49px, 0); }
  100% {
    clip: rect(82px, 9999px, 43px, 0); } }
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

nav {
  position: absolute !important;
  top: 0 !important;
  width: 99.9%;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-height: 100px;
  background: transparent;
  z-index: 9999999 !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }
  nav .nav-link {
    color: #FF6600 !important; }
  nav .navbar-brand {
    width: 100%;
    height: 100%;
    min-height: 60px;
    max-width: 200px;
    max-height: 80px; }
    nav .navbar-brand img {
      min-width: 100px;
      min-height: 60px;
      max-width: 200px;
      max-height: 80px;
      object-fit: contain;
      object-position: center; }
  nav .navbar-toggler {
    border: none;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none !important; }
    nav .navbar-toggler .icon-bar {
      display: block;
      background: white;
      margin-top: 3px;
      margin-bottom: 3px;
      height: 2px;
      width: 22px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    nav .navbar-toggler.x .icon-bar:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 19% 10%;
      -ms-transform-origin: 19% 10%;
      transform-origin: 19% 10%; }
    nav .navbar-toggler.x .icon-bar:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0); }
    nav .navbar-toggler.x .icon-bar:nth-of-type(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 10% 90%;
      -ms-transform-origin: 10% 90%;
      transform-origin: 10% 90%; }
  nav #navbarNav .navbar-nav .active .nav-link {
    color: #FD1C03 !important;
    font-weight: 800; }

#navbarNav.open-nav {
  display: block;
  height: 100vh !important;
  -webkit-transition: height 0.28s ease;
  -moz-transition: height 0.28s ease;
  -o-transition: height 0.28s ease;
  transition: height 0.28s ease;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 10%; }
  #navbarNav.open-nav .navbar-nav {
    display: block;
    position: relative;
    top: 0px;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

.banner figure img {
  width: 100%;
  min-height: 500px;
  height: 90vh;
  object-fit: cover;
  object-position: center; }

.banner_slider--main {
  position: relative; }
  .banner_slider--main figure {
    margin-bottom: 0;
    min-height: 500px;
    max-height: 100vh;
    overflow: hidden; }
    .banner_slider--main figure img {
      width: 100%;
      min-height: 500px;
      height: 100vh;
      object-fit: cover;
      object-position: center; }
  .banner_slider--main .overlay--texts h1 {
    margin-bottom: 0%;
    font-size: 2.57rem;
    font-weight: 100;
    line-height: 40px; }
  .banner_slider--main .overlay--texts p {
    font-size: 1.21rem;
    line-height: 18px;
    font-weight: 100; }
  .banner_slider--main .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10%; }
    .banner_slider--main .slick-dots li {
      list-style-type: none;
      margin: 0 5px;
      display: flex;
      align-items: center;
      height: 20px; }
      .banner_slider--main .slick-dots li.slick-active button {
        border: 1px solid white; }
      .banner_slider--main .slick-dots li button {
        width: 5px;
        height: 5px;
        overflow: hidden;
        background: #FF6600;
        cursor: pointer;
        border: none; }
  .banner_slider--main .slick-active figure {
    position: relative; }
    .banner_slider--main .slick-active figure img {
      -webkit-animation: scaling 2s ease forwards;
      animation: scaling 2s ease forwards; }
@-webkit-keyframes scaling {
  from {
    transform: scale(1.5); }
  to {
    transform: scale(1); } }
@keyframes scaling {
  from {
    transform: scale(1.5); }
  to {
    transform: scale(1); } }
    .banner_slider--main .slick-active figure:after, .banner_slider--main .slick-active figure:before {
      position: absolute;
      display: block;
      content: '';
      width: 0%;
      height: 0%;
      background: transparent;
      transition: all .5s;
      border: 3px solid transparent;
      z-index: 1; }
    .banner_slider--main .slick-active figure:after {
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      -webkit-animation: animate 0.8s linear forwards;
      animation: animate 0.8s linear forwards;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .banner_slider--main .slick-active figure:before {
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      -webkit-animation: animate2 0.8s linear forwards;
      -webkit-animation-delay: 1s;
      animation: animate2 0.8s linear forwards;
      animation-delay: 1s; }
@-webkit-keyframes animate {
  0% {
    width: 0%;
    height: 0%; }
  25% {
    width: 0%;
    height: 30%; }
  50% {
    width: 0%;
    height: 60%;
    border-left-color: white; }
  100% {
    width: 80%;
    height: 60%;
    border-left-color: white;
    border-bottom-color: white; } }
@keyframes animate {
  0% {
    width: 0%;
    height: 0%; }
  50% {
    width: 0%;
    height: 60%;
    border-left-color: white; }
  100% {
    width: 80%;
    height: 60%;
    border-left-color: white;
    border-bottom-color: white; } }
@-webkit-keyframes animate2 {
  0% {
    width: 0%;
    height: 60%; }
  50% {
    width: 0%;
    height: 60%;
    border-right-color: white; }
  100% {
    width: 80%;
    height: 60%;
    border-top-color: white;
    border-right-color: white; } }
@keyframes animate2 {
  0% {
    width: 0%;
    height: 60%; }
  50% {
    width: 0%;
    height: 60%;
    border-right-color: white; }
  100% {
    width: 80%;
    height: 60%;
    border-top-color: white;
    border-right-color: white; } }
#animate__element--main .header--wrapper {
  margin-bottom: 40px; }
  #animate__element--main .header--wrapper header {
    text-align: center;
    margin: 40px; }
  #animate__element--main .header--wrapper .header--description {
    text-align: center; }
#animate__element--main .animate_element--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  #animate__element--main .animate_element--wrapper .animate_element {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }
    #animate__element--main .animate_element--wrapper .animate_element .marble--img {
      padding-top: 60px !important; }
    #animate__element--main .animate_element--wrapper .animate_element .three__d--img {
      margin-bottom: 0;
      height: 100%; }
    #animate__element--main .animate_element--wrapper .animate_element .animate__bg--outer {
      transform-style: preserve-3d;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #animate__element--main .animate_element--wrapper .animate_element .animate__bg--outer .animate_bg--inner {
        transform: translateZ(90px);
        height: 100px;
        width: 100px; }
#animate__element--main .sky--img {
  background: url("../img/sky.jpg"); }
  #animate__element--main .sky--img .animate_bg--inner {
    background: url("../img/kb.png");
    background-size: 100px 100px; }
#animate__element--main .cube__main {
  width: 180px;
  height: 180px;
  margin: 80px auto;
  -webkit-perspective: 500px;
  perspective: 500px; }
  #animate__element--main .cube__main .cube__box {
    width: 180px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: threed 10s linear infinite;
    -moz-animation: threed 10s linear infinite;
    -o-animation: threed 10s linear infinite;
    animation: threed 10s linear infinite; }
    #animate__element--main .cube__main .cube__box > div {
      position: absolute;
      width: 180px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #animate__element--main .cube__main .cube__box > div p {
        color: white; }
    #animate__element--main .cube__main .cube__box .front__cube--face {
      -webkit-transform: translateZ(90px);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateZ(90px);
      /* IE 9 */
      transform: translateZ(90px);
      /* IE 10, Fx 16+, Op 12.1+ */
      background: rgba(0, 0, 0, 0.9); }
    #animate__element--main .cube__main .cube__box .back__cube--face {
      -webkit-transform: rotateY(180deg) translateZ(90px);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotateY(180deg) translateZ(90px);
      /* IE 9 */
      transform: rotateY(180deg) translateZ(90px);
      /* IE 10, Fx 16+, Op 12.1+ */
      background: rgba(0, 0, 0, 0.9); }
    #animate__element--main .cube__main .cube__box .left__cube--face {
      -webkit-transform: rotateY(-90deg) translateX(-90px);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotateY(-90deg) translateX(-90px);
      /* IE 9 */
      transform: rotateY(-90deg) translateX(-90px);
      /* IE 10, Fx 16+, Op 12.1+ */
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      background: rgba(0, 0, 0, 0.9); }
    #animate__element--main .cube__main .cube__box .right__cube--face {
      -webkit-transform: rotateY(90deg) translateX(90px);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotateY(90deg) translateX(90px);
      /* IE 9 */
      transform: rotateY(90deg) translateX(90px);
      /* IE 10, Fx 16+, Op 12.1+ */
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      transform-origin: right;
      background: rgba(0, 0, 0, 0.9); }
    #animate__element--main .cube__main .cube__box .top__cube--face {
      -webkit-transform: rotateX(90deg) translateY(-90px);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotateX(90deg) translateY(-90px);
      /* IE 9 */
      transform: rotateX(90deg) translateY(-90px);
      /* IE 10, Fx 16+, Op 12.1+ */
      -webkit-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
      background: rgba(0, 0, 0, 0.9); }
    #animate__element--main .cube__main .cube__box .bottom__cube--face {
      -webkit-transform: rotateX(-90deg) translateY(90px);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotateX(-90deg) translateY(90px);
      /* IE 9 */
      transform: rotateX(-90deg) translateY(90px);
      /* IE 10, Fx 16+, Op 12.1+ */
      -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
      transform-origin: bottom;
      background: rgba(0, 0, 0, 0.9); }
@-webkit-keyframes threed {
  13% {
    -webkit-transform: rotateX(-90deg) translateZ(90px) translateY(0);
    transform: rotateX(-90deg) translateZ(90px) translateY(0); }
  26% {
    -webkit-transform: rotateX(-180deg) translateZ(90px) translateY(-180px);
    transform: rotateX(-180deg) translateZ(90px) translateY(-180px); }
  39% {
    -webkit-transform: rotateX(-270deg) translateZ(-90px) translateY(-180px);
    transform: rotateX(-270deg) translateZ(-90px) translateY(-180px); }
  52% {
    -webkit-transform: rotateX(-360deg) translateZ(0px) translateY(0px);
    transform: rotateX(-360deg) translateZ(0px) translateY(0px); }
  65% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  78% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  91% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@-moz-keyframes threed {
  13% {
    -moz-transform: rotateX(-90deg) translateZ(90px) translateY(0);
    transform: rotateX(-90deg) translateZ(90px) translateY(0); }
  26% {
    -moz-transform: rotateX(-180deg) translateZ(90px) translateY(-180px);
    transform: rotateX(-180deg) translateZ(90px) translateY(-180px); }
  39% {
    -moz-transform: rotateX(-270deg) translateZ(-90px) translateY(-180px);
    transform: rotateX(-270deg) translateZ(-90px) translateY(-180px); }
  52% {
    -moz-transform: rotateX(-360deg) translateZ(0px) translateY(0px);
    transform: rotateX(-360deg) translateZ(0px) translateY(0px); }
  65% {
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  78% {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  91% {
    -moz-transform: rotateY(270deg);
    transform: rotateY(270deg); }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@keyframes threed {
  13% {
    -webkit-transform: rotateX(-90deg) translateZ(90px) translateY(0);
    transform: rotateX(-90deg) translateZ(90px) translateY(0); }
  26% {
    -webkit-transform: rotateX(-180deg) translateZ(90px) translateY(-180px);
    transform: rotateX(-180deg) translateZ(90px) translateY(-180px); }
  39% {
    -webkit-transform: rotateX(-270deg) translateZ(-90px) translateY(-180px);
    transform: rotateX(-270deg) translateZ(-90px) translateY(-180px); }
  52% {
    -webkit-transform: rotateX(-360deg) translateZ(0px) translateY(0px);
    transform: rotateX(-360deg) translateZ(0px) translateY(0px); }
  65% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  78% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  91% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
#animate__element--main .svg__bg {
  background: #00838f; }
#animate__element--main .threesixtyimage {
  position: absolute;
  top: 0; }
  #animate__element--main .threesixtyimage img {
    width: 40px;
    height: 50px; }

.social-container {
  position: relative;
  display: inline-block;
  width: 164px;
  height: 36px;
  perspective: 300px;
  font-size: 24px;
  margin: 8px; }
  .social-container .social-cube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.333s;
    transform: translateZ(-18px); }
    .social-container .social-cube .front, .social-container .social-cube .bottom {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      transition: background 0.333s; }
    .social-container .social-cube .front {
      transform: rotateX(0deg) translateZ(18px); }
    .social-container .social-cube .bottom {
      transform: rotateX(-90deg) translateZ(18px); }
  .social-container:hover .social-cube {
    transform: translateZ(-18px) rotateX(90deg); }

.social-container.twitter .social-cube .front, .social-container.twitter .social-cube .back {
  background: #4099FF; }
.social-container.twitter .social-cube .bottom {
  background: #0d7eff; }
.social-container.twitter:hover .social-cube .bottom {
  background: #4099FF; }
.social-container.twitter:hover .social-cube .front {
  background: #73b4ff; }
.social-container.facebook--threed .social-cube .front, .social-container.facebook--threed .social-cube .back {
  background: #3b5998; }
.social-container.facebook--threed .social-cube .bottom {
  background: #2d4373; }
.social-container.facebook--threed:hover .social-cube .bottom {
  background: #3b5998; }
.social-container.facebook--threed:hover .social-cube .front {
  background: #4c70ba; }
.social-container.youtube .social-cube .front, .social-container.youtube .social-cube .back {
  background: #CC181E; }
.social-container.youtube .social-cube .bottom {
  background: #9e1317; }
.social-container.youtube:hover .social-cube .bottom {
  background: #CC181E; }
.social-container.youtube:hover .social-cube .front {
  background: #e73036; }
.social-container.github .social-cube .front, .social-container.github .social-cube .back {
  background: #767676; }
.social-container.github .social-cube .bottom {
  background: #5d5d5d; }
.social-container.github:hover .social-cube .bottom {
  background: #767676; }
.social-container.github:hover .social-cube .front {
  background: #909090; }
.social-container.dribbble .social-cube .front, .social-container.dribbble .social-cube .back {
  background: #ea4c89; }
.social-container.dribbble .social-cube .bottom {
  background: #e51e6b; }
.social-container.dribbble:hover .social-cube .bottom {
  background: #ea4c89; }
.social-container.dribbble:hover .social-cube .front {
  background: #ef7aa7; }
.social-container.codepen .social-cube .front, .social-container.codepen .social-cube .back {
  background: #191919; }
.social-container.codepen .social-cube .bottom {
  background: black; }
.social-container.codepen:hover .social-cube .bottom {
  background: #191919; }
.social-container.codepen:hover .social-cube .front {
  background: #333333; }

.threed--btnTwo {
  color: black; }
  .threed--btnTwo .btn {
    margin: 10px auto !important; }

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s; }

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: black;
  text-shadow: none; }

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%; }

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: black;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

a.animated-button.gibson-one {
  border: 2px solid #65b37a;
  color: black; }

a.animated-button.gibson-one:after {
  opacity: 0;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg); }

a.animated-button.gibson-one:hover:after {
  height: 600% !important;
  opacity: 1;
  color: black; }

/* Thar Buttons */
a.animated-button.thar-one {
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

a.animated-button.thar-one:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none; }

a.animated-button.thar-one:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%; }

a.animated-button.thar-one:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

a.animated-button.thar-two {
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

a.animated-button.thar-two:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: ntwo; }

a.animated-button.thar-two:hover:before {
  top: 0%;
  bottom: auto;
  height: 100%; }

a.animated-button.thar-two:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

a.animated-button.thar-three {
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s; }

a.animated-button.thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree; }

a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%; }

a.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s; }

a.animated-button.thar-four {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s; }

a.animated-button.thar-four:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nfour; }

a.animated-button.thar-four:hover:before {
  right: 0%;
  left: auto;
  width: 100%; }

a.animated-button.thar-four:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s; }

#under_construction {
  height: 400px;
  background: rgba(0, 0, 0, 0.9); }
  #under_construction .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #under_construction p {
    font-size: 1.5rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100; }

.line-1 {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden; }

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 18.8em; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }
#Layer_2 {
  width: 220px;
  height: 220px; }

.st287 {
  fill: none;
  stroke: #3D3D3C;
  stroke-miterlimit: 10; }

.st288 {
  clip-path: url(#SVGID_570_); }

.st289 {
  clip-path: url(#SVGID_572_);
  fill: #3D3D3C; }

.st290 {
  clip-path: url(#SVGID_574_); }

.st291 {
  clip-path: url(#SVGID_576_);
  fill: #3D3D3C; }

.st292 {
  clip-path: url(#SVGID_578_); }

.st293 {
  clip-path: url(#SVGID_580_);
  fill: #3D3D3C; }

.st294 {
  clip-path: url(#SVGID_582_); }

.st295 {
  clip-path: url(#SVGID_584_);
  fill: #3D3D3C; }

.st296 {
  clip-path: url(#SVGID_586_); }

.st297 {
  clip-path: url(#SVGID_588_);
  fill: #3D3D3C; }

.st298 {
  clip-path: url(#SVGID_590_); }

.st299 {
  clip-path: url(#SVGID_592_);
  enable-background: new; }

.st300 {
  clip-path: url(#SVGID_594_); }

.st301 {
  clip-path: url(#SVGID_596_); }

.st302 {
  clip-path: url(#SVGID_598_);
  fill: #3D3D3C; }

.st303 {
  clip-path: url(#SVGID_600_); }

.st304 {
  clip-path: url(#SVGID_602_);
  fill: #3D3D3C; }

.st305 {
  clip-path: url(#SVGID_604_); }

.st306 {
  clip-path: url(#SVGID_606_);
  fill: #3D3D3C; }

.st307 {
  clip-path: url(#SVGID_608_); }

.st308 {
  clip-path: url(#SVGID_610_);
  fill: #3D3D3C; }

.st309 {
  clip-path: url(#SVGID_612_); }

.st310 {
  clip-path: url(#SVGID_614_);
  enable-background: new; }

.st311 {
  clip-path: url(#SVGID_616_); }

.st312 {
  clip-path: url(#SVGID_618_); }

.st313 {
  clip-path: url(#SVGID_620_);
  fill: #3D3D3C; }

.st314 {
  fill: #DDE9A4;
  stroke: #979797;
  stroke-width: 1.255;
  stroke-miterlimit: 10; }

.st315 {
  clip-path: url(#SVGID_622_); }

.st316 {
  clip-path: url(#SVGID_624_);
  fill: #3D3D3C; }

.st317 {
  clip-path: url(#SVGID_626_); }

.st318 {
  clip-path: url(#SVGID_628_);
  fill: #3D3D3C; }

.st319 {
  clip-path: url(#SVGID_630_); }

.st320 {
  clip-path: url(#SVGID_632_);
  fill: #3D3D3C; }

.st321 {
  clip-path: url(#SVGID_634_); }

.st322 {
  clip-path: url(#SVGID_636_);
  fill: #3D3D3C; }

.st323 {
  clip-path: url(#SVGID_638_); }

.st324 {
  clip-path: url(#SVGID_640_);
  fill: #3D3D3C; }

.st325 {
  clip-path: url(#SVGID_642_); }

.st326 {
  clip-path: url(#SVGID_644_);
  fill: #3D3D3C; }

.st327 {
  clip-path: url(#SVGID_646_); }

.st328 {
  clip-path: url(#SVGID_648_);
  fill: #3D3D3C; }

.st329 {
  clip-path: url(#SVGID_650_); }

.st330 {
  clip-path: url(#SVGID_652_);
  fill: #3D3D3C; }

.st331 {
  clip-path: url(#SVGID_654_); }

.st332 {
  clip-path: url(#SVGID_656_);
  fill: #FFFFFF; }

.st333 {
  clip-path: url(#SVGID_658_); }

.st334 {
  clip-path: url(#SVGID_660_);
  fill: #3D3D3C; }

.st335 {
  clip-path: url(#SVGID_662_); }

.st336 {
  clip-path: url(#SVGID_664_);
  enable-background: new; }

.st337 {
  clip-path: url(#SVGID_666_); }

.st338 {
  clip-path: url(#SVGID_668_); }

.st339 {
  clip-path: url(#SVGID_670_);
  fill: #FFFFFF; }

.st340 {
  clip-path: url(#SVGID_672_); }

.st341 {
  clip-path: url(#SVGID_674_);
  fill: #3D3D3C; }

.st342 {
  clip-path: url(#SVGID_676_); }

.st343 {
  clip-path: url(#SVGID_678_);
  fill: #FFFFFF; }

.st344 {
  clip-path: url(#SVGID_680_); }

.st345 {
  clip-path: url(#SVGID_682_);
  fill: #3D3D3C; }

.st346 {
  clip-path: url(#SVGID_684_); }

.st347 {
  clip-path: url(#SVGID_686_);
  fill: #FFFFFF; }

.st348 {
  clip-path: url(#SVGID_688_); }

@keyframes rotiPing {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
.rotiPing {
  -webkit-animation: rotiPing 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes rotiPingSeats {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
.rotiPingSeats {
  -webkit-animation: rotiPingSeats 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box; }

@media only screen and (max-width: 991px) {
  nav {
    background: rgba(0, 0, 0, 0.7); }
    nav .brand_and_btn--wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-left: 14px !important;
      padding-right: 14px !important; }
    nav #navbarNav {
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      left: 0;
      top: 100%;
      width: 100vw;
      height: 0;
      overflow: hidden;
      -webkit-transition: height 0.28s ease;
      -moz-transition: height 0.28s ease;
      -o-transition: height 0.28s ease;
      transition: height 0.28s ease;
      padding-left: 14px !important;
      padding-right: 14px !important; }
      nav #navbarNav .navbar-nav {
        display: block;
        position: relative;
        top: -100px;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; } }
@media only screen and (max-width: 576px) {
  .overlay--texts {
    position: absolute;
    bottom: 5% !important;
    left: 50% !important;
    z-index: 1;
    opacity: 0;
    display: block; }

  .slick-active .overlay--texts {
    width: 80%;
    position: absolute;
    z-index: 2;
    bottom: 5% !important;
    left: 50% !important;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }

  #under_construction p {
    font-size: 1.2rem; } }

/*# sourceMappingURL=main_stylesheet.css.map */
