#Layer_2 {
  width: 220px;
  height: 220px; }

.st287 {
  fill: none;
  stroke: #3D3D3C;
  stroke-miterlimit: 10; }

.st288 {
  clip-path: url(#SVGID_570_); }

.st289 {
  clip-path: url(#SVGID_572_);
  fill: #3D3D3C; }

.st290 {
  clip-path: url(#SVGID_574_); }

.st291 {
  clip-path: url(#SVGID_576_);
  fill: #3D3D3C; }

.st292 {
  clip-path: url(#SVGID_578_); }

.st293 {
  clip-path: url(#SVGID_580_);
  fill: #3D3D3C; }

.st294 {
  clip-path: url(#SVGID_582_); }

.st295 {
  clip-path: url(#SVGID_584_);
  fill: #3D3D3C; }

.st296 {
  clip-path: url(#SVGID_586_); }

.st297 {
  clip-path: url(#SVGID_588_);
  fill: #3D3D3C; }

.st298 {
  clip-path: url(#SVGID_590_); }

.st299 {
  clip-path: url(#SVGID_592_);
  enable-background: new; }

.st300 {
  clip-path: url(#SVGID_594_); }

.st301 {
  clip-path: url(#SVGID_596_); }

.st302 {
  clip-path: url(#SVGID_598_);
  fill: #3D3D3C; }

.st303 {
  clip-path: url(#SVGID_600_); }

.st304 {
  clip-path: url(#SVGID_602_);
  fill: #3D3D3C; }

.st305 {
  clip-path: url(#SVGID_604_); }

.st306 {
  clip-path: url(#SVGID_606_);
  fill: #3D3D3C; }

.st307 {
  clip-path: url(#SVGID_608_); }

.st308 {
  clip-path: url(#SVGID_610_);
  fill: #3D3D3C; }

.st309 {
  clip-path: url(#SVGID_612_); }

.st310 {
  clip-path: url(#SVGID_614_);
  enable-background: new; }

.st311 {
  clip-path: url(#SVGID_616_); }

.st312 {
  clip-path: url(#SVGID_618_); }

.st313 {
  clip-path: url(#SVGID_620_);
  fill: #3D3D3C; }

.st314 {
  fill: #DDE9A4;
  stroke: #979797;
  stroke-width: 1.255;
  stroke-miterlimit: 10; }

.st315 {
  clip-path: url(#SVGID_622_); }

.st316 {
  clip-path: url(#SVGID_624_);
  fill: #3D3D3C; }

.st317 {
  clip-path: url(#SVGID_626_); }

.st318 {
  clip-path: url(#SVGID_628_);
  fill: #3D3D3C; }

.st319 {
  clip-path: url(#SVGID_630_); }

.st320 {
  clip-path: url(#SVGID_632_);
  fill: #3D3D3C; }

.st321 {
  clip-path: url(#SVGID_634_); }

.st322 {
  clip-path: url(#SVGID_636_);
  fill: #3D3D3C; }

.st323 {
  clip-path: url(#SVGID_638_); }

.st324 {
  clip-path: url(#SVGID_640_);
  fill: #3D3D3C; }

.st325 {
  clip-path: url(#SVGID_642_); }

.st326 {
  clip-path: url(#SVGID_644_);
  fill: #3D3D3C; }

.st327 {
  clip-path: url(#SVGID_646_); }

.st328 {
  clip-path: url(#SVGID_648_);
  fill: #3D3D3C; }

.st329 {
  clip-path: url(#SVGID_650_); }

.st330 {
  clip-path: url(#SVGID_652_);
  fill: #3D3D3C; }

.st331 {
  clip-path: url(#SVGID_654_); }

.st332 {
  clip-path: url(#SVGID_656_);
  fill: #FFFFFF; }

.st333 {
  clip-path: url(#SVGID_658_); }

.st334 {
  clip-path: url(#SVGID_660_);
  fill: #3D3D3C; }

.st335 {
  clip-path: url(#SVGID_662_); }

.st336 {
  clip-path: url(#SVGID_664_);
  enable-background: new; }

.st337 {
  clip-path: url(#SVGID_666_); }

.st338 {
  clip-path: url(#SVGID_668_); }

.st339 {
  clip-path: url(#SVGID_670_);
  fill: #FFFFFF; }

.st340 {
  clip-path: url(#SVGID_672_); }

.st341 {
  clip-path: url(#SVGID_674_);
  fill: #3D3D3C; }

.st342 {
  clip-path: url(#SVGID_676_); }

.st343 {
  clip-path: url(#SVGID_678_);
  fill: #FFFFFF; }

.st344 {
  clip-path: url(#SVGID_680_); }

.st345 {
  clip-path: url(#SVGID_682_);
  fill: #3D3D3C; }

.st346 {
  clip-path: url(#SVGID_684_); }

.st347 {
  clip-path: url(#SVGID_686_);
  fill: #FFFFFF; }

.st348 {
  clip-path: url(#SVGID_688_); }

@keyframes rotiPing {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
.rotiPing {
  -webkit-animation: rotiPing 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes rotiPingSeats {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
.rotiPingSeats {
  -webkit-animation: rotiPingSeats 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box; }

/*# sourceMappingURL=roti-ping.css.map */
