:root{
  font-size: 14px;
}
html,body{
  // min-height: 100vh;

}
body{
  // padding-top: 20px!important;
}
.hide-overflow{
  overflow: hidden;
}
.hide-this{
  position: fixed!important;
  top: -90px!important;
  transition: all 0.25s ease-in-out;
}
.show-this{
  transition: all 0.25s ease-in-out;
  position: fixed!important;
  top: 0!important;
}
.hide-padding{
  // padding-top:0px!important;
}

@mixin box-shadow(){
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
@mixin default-padding() {
  padding-left: 14px!important;
  padding-right: 14px!important;
}
@mixin prefix-transform($x) {
  -webkit-transform: $x; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: $x; /* IE 9 */
          transform: $x; /* IE 10, Fx 16+, Op 12.1+ */
}
@mixin prefix-transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -o-transition: $x;
  transition: $x;
}
@mixin prefix-origin($x) {
  -webkit-transform-origin: $x;
  -ms-transform-origin: $x;
  transform-origin: $x;

}
@import "assets";
@import "basic_navigation";
@import "slide_navigation";
@import "media_query";
