nav{
  position: fixed!important;
  top: 0!important;
  width: 99.9%;
  padding-top: 0!important;
  padding-left: 0!important;
  padding-right: 0!important;
  max-height: 100px;
  background: $nav_bgcolor;
  @include box-shadow();
  .navbar-brand{
    width: 100%;
    height: 100%;
    min-height: 60px;
    max-width: 200px;
    max-height: 80px;
    img{
      width: 100%;
      height: 100%;
      min-height: 60px;
      max-width: 200px;
      max-height: 80px;
      object-fit: contain;
      object-position: center;

    }
  }
  .navbar-toggler{
    border: none;
    background: $nav-togglerbtn--bgcolor;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none !important;

    .icon-bar{
      display: block;
      background: $nav_icon_bar--bgcolor;
      margin-top: 3px;
      margin-bottom: 3px;
      height: 2px;
      width: 22px;
      @include prefix-transition(all 0.2s);
    }
    &.x{
      .icon-bar:nth-of-type(1) {
        @include prefix-transform(rotate(45deg));
        @include prefix-origin(20% 10%);
      }
      .icon-bar:nth-of-type(2) {
      	opacity: 0;
      	filter: alpha(opacity=0);
      }
      .icon-bar:nth-of-type(3) {
        @include prefix-transform(rotate(-45deg));
        @include prefix-origin(10% 90%);
      }
    }

  }
  #navbarNav{
    .navbar-nav{
      .active{
        .nav-link{
          color: $navbar_nav-item--activecolor;
        }

      }
    }
  }
}
@mixin slide_navigation--lg-below {
  nav{
    .brand_and_btn--wrapper{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      @include default-padding();
      .navbar-toggler{
        // height: 40px;
        // width: 50px;
      }
    }
    #navbarNav{
      background: $nav_bgcolor;
      position: absolute;
      left: -50px;
      top: 100%;
      width: 0vw;
      height: 100vh;
      // overflow: hidden;
      overflow-y: hidden;
      @include prefix-transition(all 0.28s ease-in-out);
      @include default-padding();
      .nav-link{
        @include prefix-transform(translate(0, -100px));
        opacity: 0;
      }
    }
  }

}
#navbarNav.open-nav{
  left: 0!important;
  display: flex!important;
  width: 100vw!important;
  @include prefix-transition(all 0.28s ease-in-out);
  overflow: auto;
  .nav-link{
    @include prefix-transform(translate(0, 0px));
    @include prefix-transition(all 1s ease-in-out);
    opacity: 1;
  }
}
